/* src/WelcomePage.css */
.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
  